@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');



*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgba(255, 255, 0, 0.9);

    --hero-font: 'Ephesis', cursive;
    --header: 'Rubik Bubbles', impact;
    --text-font: monospace;
}
p{
    font-family: var(--text-font);
}


section.hero, section.about, section.skills{
    height: 100vh;
    position: relative;
}






.hero_bg_image{
    height: 100vh;
    background: var(--primary-color);
    position: relative;
}

.hero_bg_image img{
    width: 100%;
    height: 100%;
    z-index: -100;
    position: absolute;
}

.context{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);

    text-align: center;
    display: grid;
    place-items: center;

    width: 90%;
}
.profile_pic{
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
}
.profile_pic img{
    width: 100%;
    height: 100%;
    border: 5px solid;
    object-fit: cover;
}

.hero_header{
    font-size: 6rem;
    font-family: var(--hero-font);

    transform: rotate(-7deg);
    padding-bottom: 3rem;

    letter-spacing: .4rem;
}

.context p{
    font-family: var(--text-font);
    font-size: 1.2rem;
    letter-spacing: 1rem;

}


section.about{
    padding: 3% 7%; 

}

header{
    font-family: var(--header);
    font-size: 4rem;
    text-align: center;
}

.about .about_container{
    display: grid;
    grid-template-columns: 35% auto;
    gap: 3rem;
    margin-top: 5rem;
}

.about_container .grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    line-height: 2rem;
}

.aboutme{
    display: grid;
    grid-template-columns: 10% auto;
    line-height: 2.5rem;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    line-height: 5rem;
    margin-left: -2rem;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links .link a{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: var(--text-font);
    width: 70%;
    margin: 30px;
    border-radius: 3px;
    border: solid;
}




section.skills{
    padding: 3% 7%; 

}

.skills_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
}

.skills .skill{
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 1rem;
    height: 200px;
}

.skill_title{
    font-size: 1.2rem;
    text-transform: uppercase;
}





@media only screen and (max-width: 800px) {
    
    .hero .context{
        top: 5%;
    }
    .context p{
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .about .about_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1rem;
        gap: .5rem;
    }
    .about_container .grid_container{
        gap: 0;
    }
    .links{
        margin-top: 0;
        line-height: 3rem;
    }
    .links .link a{
        margin: .4rem;
    }
    .aboutme{
        text-align: justify;
        line-height: 1.3rem;
    }

    .aboutme, .skills {
        margin: 2em 0;
    }
    .skills .skill{
        display: flex;
        justify-self: center;
        height: 100px;
    }

}